In [44]:
import pandas as pd

df = pd.read_parquet('/Users/Macington/Documents/Projects/Project Gambit/Games/Storage/total_ply=57/data.parquet')

df

,game_id,pgn,ply,board_sum,centipawn_evaluation,final_centipawn_value,board_sum_in_context
0,4.893091e+20,"[Event ""Mar del Plata""]\n[Site ""Mar del Plata""...",0,18446462598732906495,0.0,71.0,1.844646e+19
1,4.893091e+20,"[Event ""Mar del Plata""]\n[Site ""Mar del Plata""...",1,18446462599001337855,53.0,71.0,3.689293e+19
2,4.893091e+20,"[Event ""Mar del Plata""]\n[Site ""Mar del Plata""...",2,18444210833547390975,75.0,71.0,5.533714e+19
3,4.893091e+20,"[Event ""Mar del Plata""]\n[Site ""Mar del Plata""...",3,18444210833278955519,61.0,71.0,7.378135e+19
4,4.893091e+20,"[Event ""Mar del Plata""]\n[Site ""Mar del Plata""...",4,17867750080975532031,71.0,71.0,9.164910e+19
...,...,...,...,...,...,...,...
44398,4.788434e+20,"[Event ""Las Palmas""]\n[Site ""Las Palmas""]\n[Da...",52,5956221751573777230,NaN,40.0,4.550185e+20
44399,4.788434e+20,"[Event ""Las Palmas""]\n[Site ""Las Palmas""]\n[Da...",53,5956221751573777254,NaN,40.0,4.609748e+20
44400,4.788434e+20,"[Event ""Las Palmas""]\n[Site ""Las Palmas""]\n[Da...",54,5956221614135872358,NaN,40.0,4.669310e+20
44401,4.788434e+20,"[Event ""Las Palmas""]\n[Site ""Las Palmas""]\n[Da...",55,5956221648361392998,NaN,40.0,4.728872e+20
44402,4.788434e+20,"[Event ""Las Palmas""]\n[Site ""Las Palmas""]\n[Da...",56,5956221648360344422,NaN,40.0,4.788434e+20

In [35]:
import pandas as pd
from pathlib import Path
import gc

def collect_board_sum_in_context_values(storage_directory, start_ply, end_ply):
    board_sum_in_context_values = {}
    for total_ply in range(1, 350 + 1):
        partition_path = Path(storage_directory, f"total_ply={total_ply}", "data.parquet")
        if not partition_path.exists():
            continue
        
        df = pd.read_parquet(partition_path)
        for board_sum_in_context, centipawn_evaluation in zip(df['board_sum_in_context'], df['centipawn_evaluation']):
            if pd.notnull(centipawn_evaluation) and centipawn_evaluation != 0:
                if board_sum_in_context in board_sum_in_context_values:
                    board_sum_in_context_values[board_sum_in_context].append(centipawn_evaluation)
                else:
                    board_sum_in_context_values[board_sum_in_context] = [centipawn_evaluation]

    # Compute the average for non-zero values
    for key, values in board_sum_in_context_values.items():
        board_sum_in_context_values[key] = sum(values) / len(values)

    return board_sum_in_context_values

def join_values(storage_directory, start_ply, end_ply, board_sum_in_context_values):
    for total_ply in range(start_ply, end_ply + 1):
        partition_path = Path(storage_directory, f"total_ply={total_ply}", "data.parquet")
        if not partition_path.exists():
            continue
        
        df = pd.read_parquet(partition_path)
        mask = df['centipawn_evaluation'].isnull()
        df.loc[mask, 'centipawn_evaluation'] = df.loc[mask, 'board_sum_in_context'].map(board_sum_in_context_values)
        df.to_parquet(partition_path)
        
        print(f"Updated partition for total_ply={total_ply}...")
        gc.collect()

def main():
    storage_directory = "/Users/Macington/Documents/Projects/Project Gambit/Games/Storage"
    start_ply = 47
    end_ply = 228

    # Collect board_sum_in_context values
    print("Collecting board_sum_in_context values...")
    board_sum_in_context_values = collect_board_sum_in_context_values(storage_directory, start_ply, end_ply)

    # Join the matching centipawn_evaluation values
    print("Joining matching centipawn_evaluation values...")
    join_values(storage_directory, start_ply, end_ply, board_sum_in_context_values)

    print("Processing completed!")

if __name__ == "__main__":
    main()

Collecting board_sum_in_context values...
Joining matching centipawn_evaluation values...
Updated partition for total_ply=47...
Updated partition for total_ply=48...
Updated partition for total_ply=49...
Updated partition for total_ply=50...
Updated partition for total_ply=51...
Updated partition for total_ply=52...
Updated partition for total_ply=53...
Updated partition for total_ply=54...
Updated partition for total_ply=55...
Updated partition for total_ply=56...
Updated partition for total_ply=57...
Updated partition for total_ply=58...
Updated partition for total_ply=59...
Updated partition for total_ply=60...
Updated partition for total_ply=61...
Updated partition for total_ply=62...
Updated partition for total_ply=63...
Updated partition for total_ply=64...
Updated partition for total_ply=65...
Updated partition for total_ply=66...
Updated partition for total_ply=67...
Updated partition for total_ply=68...
Updated partition for total_ply=69...
Updated partition for total_ply=70...
Updated partition for total_ply=71...
Updated partition for total_ply=72...
Updated partition for total_ply=73...
Updated partition for total_ply=74...
Updated partition for total_ply=75...
Updated partition for total_ply=76...
Updated partition for total_ply=77...
Updated partition for total_ply=78...
Updated partition for total_ply=79...
Updated partition for total_ply=80...
Updated partition for total_ply=81...
Updated partition for total_ply=82...
Updated partition for total_ply=83...
Updated partition for total_ply=84...
Updated partition for total_ply=85...
Updated partition for total_ply=86...
Updated partition for total_ply=87...
Updated partition for total_ply=88...
Updated partition for total_ply=89...
Updated partition for total_ply=90...
Updated partition for total_ply=91...
Updated partition for total_ply=92...
Updated partition for total_ply=93...
Updated partition for total_ply=94...
Updated partition for total_ply=95...
Updated partition for total_ply=96...
Updated partition for total_ply=97...
Updated partition for total_ply=98...
Updated partition for total_ply=99...
Updated partition for total_ply=100...
Updated partition for total_ply=101...
Updated partition for total_ply=102...
Updated partition for total_ply=103...
Updated partition for total_ply=104...
Updated partition for total_ply=105...
Updated partition for total_ply=106...
Updated partition for total_ply=107...
Updated partition for total_ply=108...
Updated partition for total_ply=109...
Updated partition for total_ply=110...
Updated partition for total_ply=111...
Updated partition for total_ply=112...
Updated partition for total_ply=113...
Updated partition for total_ply=114...
Updated partition for total_ply=115...
Updated partition for total_ply=116...
Updated partition for total_ply=117...
Updated partition for total_ply=118...
Updated partition for total_ply=119...
Updated partition for total_ply=120...
Updated partition for total_ply=121...
Updated partition for total_ply=122...
Updated partition for total_ply=123...
Updated partition for total_ply=124...
Updated partition for total_ply=125...
Updated partition for total_ply=126...
Updated partition for total_ply=127...
Updated partition for total_ply=128...
Updated partition for total_ply=129...
Updated partition for total_ply=130...
Updated partition for total_ply=131...
Updated partition for total_ply=132...
Updated partition for total_ply=133...
Updated partition for total_ply=134...
Updated partition for total_ply=135...
Updated partition for total_ply=136...
Updated partition for total_ply=137...
Updated partition for total_ply=138...
Updated partition for total_ply=139...
Updated partition for total_ply=140...
Updated partition for total_ply=141...
Updated partition for total_ply=142...
Updated partition for total_ply=143...
Updated partition for total_ply=144...
Updated partition for total_ply=145...
Updated partition for total_ply=146...
Updated partition for total_ply=147...
Updated partition for total_ply=148...
Updated partition for total_ply=149...
Updated partition for total_ply=150...
Updated partition for total_ply=151...
Updated partition for total_ply=152...
Updated partition for total_ply=153...
Updated partition for total_ply=154...
Updated partition for total_ply=155...
Updated partition for total_ply=156...
Updated partition for total_ply=157...
Updated partition for total_ply=158...
Updated partition for total_ply=159...
Updated partition for total_ply=160...
Updated partition for total_ply=161...
Updated partition for total_ply=162...
Updated partition for total_ply=163...
Updated partition for total_ply=164...
Updated partition for total_ply=165...
Updated partition for total_ply=166...
Updated partition for total_ply=167...
Updated partition for total_ply=168...
Updated partition for total_ply=169...
Updated partition for total_ply=170...
Updated partition for total_ply=171...
Updated partition for total_ply=172...
Updated partition for total_ply=173...
Updated partition for total_ply=174...
Updated partition for total_ply=175...
Updated partition for total_ply=176...
Updated partition for total_ply=177...
Updated partition for total_ply=178...
Updated partition for total_ply=179...
Updated partition for total_ply=180...
Updated partition for total_ply=181...
Updated partition for total_ply=182...
Updated partition for total_ply=183...
Updated partition for total_ply=184...
Updated partition for total_ply=185...
Updated partition for total_ply=186...
Updated partition for total_ply=187...
Updated partition for total_ply=188...
Updated partition for total_ply=189...
Updated partition for total_ply=190...
Updated partition for total_ply=191...
Updated partition for total_ply=192...
Updated partition for total_ply=193...
Updated partition for total_ply=194...
Updated partition for total_ply=195...
Updated partition for total_ply=196...
Updated partition for total_ply=197...
Updated partition for total_ply=198...
Updated partition for total_ply=199...
Updated partition for total_ply=200...
Updated partition for total_ply=201...
Updated partition for total_ply=202...
Updated partition for total_ply=203...
Updated partition for total_ply=204...
Updated partition for total_ply=205...
Updated partition for total_ply=206...
Updated partition for total_ply=207...
Updated partition for total_ply=208...
Updated partition for total_ply=209...
Updated partition for total_ply=210...
Updated partition for total_ply=211...
Updated partition for total_ply=212...
Updated partition for total_ply=213...
Updated partition for total_ply=214...
Updated partition for total_ply=215...
Updated partition for total_ply=216...
Updated partition for total_ply=217...
Updated partition for total_ply=218...
Updated partition for total_ply=219...
Updated partition for total_ply=220...
Updated partition for total_ply=221...
Updated partition for total_ply=222...
Updated partition for total_ply=223...
Updated partition for total_ply=224...
Updated partition for total_ply=225...
Updated partition for total_ply=226...
Updated partition for total_ply=227...
Updated partition for total_ply=228...
Processing completed!